.DS_Store
*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
!tags/
tmp/**/*
!tmp/cache/.keep
.AndroidStudio1.5
.AndroidStudio2.1
.CFUserTextEncoding
.Genymobile
.GoPanda2
.MacOSX
.NERDTreeBookmarks
.Rhistory
.Trash
.Trash-1000
.Xauthority
.adobe
.agignore
.aliases
.anaconda
.android
.ansible
.arangosh.history
.aws
.babel.json
.bash_history
.bash_profile
.bash_profile-anaconda.bak
.bash_sessions
.bashrc
.bin
.bitmonero
.boot2docker
.boto
.byebug_hist
.cache
.cargo
.ccache
.cocoapods
.composer
.conan
.config
.config.json
.cordova
.cpanm
.cups
.dart
.dartServer
.dbshell
.debookee
.devtools
.dlv
.docker
.eaglerc
.eclipse
.electron
.electron-gyp
.elinks
.emacs.d
.emulator_console_auth_token
.fbcli_history
.firebaserc
.flutter
.flutter_settings
.flutter_tool_state
.fontconfig
.gem
.gemrc
.ghc
.glide
.gnuplot_history
.gore
.gradle
.gsutil
.guard_history
.gvimrc
.helm
.heroku
.hgignore_global
.httpie
.hushlogin
.hydra.yml
.hyperterm.js
.hyperterm_plugins
.idlerc
.ipython
.irb-history
.irbrc
.itmstransporter
.jhbuildrc
.jhbuildrc-cfw-10.4
.jhbuildrc-cfw-10.4u
.jhbuildrc-custom
.jhbuildrc-fw-10.4
.jhbuildrc-fw-10.4-test
.jsonresume.json
.jssc
.jupyter
.kafkatool2
.kaggle
.keras
.kite
.kube
.labelmerc
.lein
.lesshst
.links
.local
.m2
.matlab
.matplotlib
.messer
.meteor
.minikube
.mkshrc
.mongorc.js
.mongorc.js.orig
.mplayer
.multirust
.mysql_history
.netrc
.ngrok2
.node-gyp
.node_repl_history
.npm
.nuuid.ini
.nylas
.octave_hist
.octave_packages
.openocd_history
.oracle_jre_usage
.p2
.parsec
.pgadmin_histoqueries
.pgpass
.platformio
.plotly
.pm2
.profile
.pry_history
.pryrc
.psql_history
.psql_history-bluebird_gateway_go
.psql_history-bluebird_gateway_go_test
.psql_history-culture_match_go
.psql_history-identity_int
.psql_history-mybb_order_processing_db
.psql_history-personalisation_hub
.psql_history-postgres
.psql_history-pqgotest
.psql_history-sevelin_locker_server
.psql_history-seveltv_development
.psql_history-template1
.psql_history-test
.psql_history-thanh
.psqlrc
.psqlrc.local
.pub-cache
.putty
.pylint.d
.python-eggs
.python_history
.rcrc
.rediscli_history
.rest-client
.rnd
.rspec
.rstudio-desktop
.rustup
.rvm
.sdkman
.slack-term
.soapuios
.software
.sqlite_history
.ssh
.subversion
.taskbook
.taskbook.json
.telegram-cli
.telegram_go
.telegramgo
.terminfo
.thinkbuzan
.thumbnails
.ti
.tmux.conf
.tooling
.tuxguitar-1.2
.v8flags.3.28.71.19.TranDuyThanh.json
.v8flags.5.0.71.57.TranDuyThanh.json
.vagrant
.vagrant.d
.vim
.vim_go_runtime
.viminfo
.viminfo.go
.vimperator
.vimrc
.vimrc.bk
.vimrc.bundles
.vimrc.go
.vmodules
.vnc
.volt1
.vscode
.vscode-react-native
.vue-cli-ui
.vue-templates
.vuerc
.vỉmc
.w3m
.wget-hsts
.wine
.wireshark
.ws_history
.yarnrc
.yjp
.zcompcache
.zcompdump
.zcompdump-Thanhs-MacBook-Pro-2-5.0.7.Thanhs-MacBook-Pro-2.local.97226
.zcompdump-Thanhs-MacBook-Pro-2-5.0.7.Thanhs-MacBook-Pro-2.local.97423
.zcompdump-Thanh’s MacBook Pro-5.0.5
.zcompdump-Thanh’s MacBook Pro-5.0.7
.zcompdump-Thanh’s MacBook Pro-5.3
.zcompdump-Thanh’s MacBook Pro-5.4.2
.zcompdump-Thanh’s MacBook Pro-5.7.1
.zcompdump.Thanhs-MacBook-Pro-2.local.14405
.zcompdump.zwc
.zhistory
.zlogin
.zlogout
.zprezto
.zpreztorc
.zprofile
.zprofile.pysave
.zsh
.zsh-update
.zsh_history
.zshenv
.zshrc-e
.zshrc.backup
.zshrc.bk
.zshrc.orig
.zshrc.pre-oh-my-zsh
node_modules
thanh.optus.ovpn
thanh.ovpn
Adlm
Applications
Applications (Parallels)
ahihi.scpt
BoxSync
Builds
Desktop
Documents
Downloads
dotfiles
duythanhcv
eclipse
flutter
go
google-cloud-sdk
MacKeeper Backups
Monero
Movies
Music
main.py
mymycv
Pictures
Postman
Public
PycharmProjects
package-lock.json
Source
sdk
config.js
o2o-deployment
o2o.aws.accessKeys.csv
octave
octave-workspace
teachable-machine-v1
VirtualBox VMs
vscode
Library
log.log
nltk_data
.git_template
.gitignore_global
.gitmessage
.gitconfig
.gitlab-runner
.oh-my-zsh/cache
.bash_logout
.fzf
.fzf.bash
.sudo_as_admin_successful
examples.desktop
.zcompdump-cotaiws-5.4.2
